body{
    background: #fafafa;
}
a:hover {
    text-decoration: none;
}
.partners {
    height: 275px;
    background: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.partners img {
    width: 100px !important;
    height: 100px;
    display: inline-block !important;
    margin-top: 40px;
}
.partners small {
    color: #9497ad;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    margin-top: 20px;
}
.partners strong {
    margin-bottom: 5px;
    color: #1e244d;
    font-size: 21px;
}
.partners p {
    margin-right: auto;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background: #ff4b81;
    border-radius: 2px;
    padding: 8px 17px;
    display: inline-block;
    margin-top: 7px;
}
.partners:hover {
    cursor: pointer;
}
.totals .owl-carousel .owl-nav button.owl-prev {
    position: absolute !important;
    top: 32% !important;
    left: -6% !important;
    background: white !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 71px !important;
    margin-left: 20px !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08) !important;
}
.totals .owl-carousel .owl-nav button.owl-prev span {
    font-size: 60px !important;
    position: absolute !important;
    top: -23px !important;
    left: 18px !important;
}
.totals .owl-carousel .owl-nav button.owl-next {
    position: absolute !important;
    top: 32% !important;
    right: -6% !important;
    background: white !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 71px !important;
    margin-right: 20px !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08) !important;
}
.totals .owl-carousel .owl-nav button.owl-next span {
    font-size: 60px !important;
    position: absolute !important;
    top: -23px !important;
    right: 18px !important;
}
.totals .owl-carousel .owl-nav button.owl-prev:focus,.totals .owl-carousel .owl-nav button.owl-next:focus {
    outline: none !important;
}